body {
    font-family: Arial;
    font-size: 12pt;
    color: #102940;
    line-height: 30px;
    background-color: #FFFFFF;
}

hr {
    color: #FFB742;
    border: 1px solid #FFB742;
    margin: 15px 0px;
    width: 99%;
}

input {
    color: #102940;
    height: 47px;
    font-size: 16pt;
    margin-right: 15px;
    padding-left: 5px;
}

button {
    color: white;
    background-color: #42A4FF;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
    font-size: 16pt;
    margin-right: 15px;
}

button:hover {
    background-color: #FFB742;
}

#app {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border: solid 5px #102940;
    margin-top: 50px;
    box-shadow: 4px 4px 0px #FFB742;
}

#clock {
    width: 201px;
    float: right;
}

#tracking {
    width: 100%;
}

#clear {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    color: black;
}

#clear:hover {
    background-color: #ff4242;
    border: 1px solid white;
    color: white;
}

.taskHolder {
    margin: 15px 0px;
    border-bottom: 1px solid #102940;
    padding-bottom: 10px;
}

.trackerName {
    font-family: Arial;
    font-size: 24pt;
    font-weight: bold;
    margin-right: 20px;
}

.timeElapsed {
    font-family: 'Anonymous Pro', monospace;
    font-size: 24pt;
    float: right;
    font-weight: bold;
}

.left,
.right {
    display: inline-block;
}

.left {
    width: 100%;
}

.right {
    position: relative;
    float: right;
}

.fa-times-circle {
    font-size: 20pt;
    color: #ff4242;
    margin-right: 10px;
    cursor: pointer;
}

.fa-bars {
    font-size: 20pt;
    color: #FFB742;
    margin-right: 10px;
    cursor: pointer;
}